.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pretty-div {
  font-size: larger;
}

.pretty-span {
  font-style: italic;
    font-weight: bold;
}

.pretty-repo {
  font-weight: bold;
}

.builds-ok {
 color: darkgreen;
}

.builds-cancel {
 color: dimgrey;
}

.builds-error {
 color: crimson;
}
